<!DOCTYPE html>
<html>
  <head>
    <title>PIN-IT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to('PIN-IT', root_path, class:'navbar-brand') %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <%= render(partial:'nav_item', locals:{ footer: false, title:'Home', uri: root_path }) %>
              <%= render(partial:'nav_item', locals:{ footer: false, title:'Log in', uri: new_user_path }) %>
              <% if (@user.present? && @user.id != nil) %>
                <%= render(partial:'nav_item', locals:{ footer: false, title:'My Pins', uri: account_pins_path}) %>
              <% end %>
            </ul>
            <%= render(partial: 'search_form') %>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
    
    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class='container'>
          <%= link_to('PIN-IT', root_path, class:'navbar-brand') %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <%= render(partial:'nav_item', locals:{ footer: true, title:'Home', uri: root_path }) %>
              <%= render(partial:'nav_item', locals:{ footer: true, title:'About', uri: home_about_path }) %>
            </ul>
            <a class="text-right text-muted">Built by Yekta Turan</a>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
