<!DOCTYPE html>
<html>
  <head>
    <title>PIN-IT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to('PIN-IT', root_path, class:'navbar-brand') %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <%= render(partial:'nav_item', locals:{ footer: false, title:'Home', uri: root_path }) %>
              <%= render(partial:'nav_item', locals:{ footer: false, title:'Register', uri: user_register_path }) %>
              <%= render(partial:'nav_item', locals:{ footer: false, title:'Log in', uri: user_log_in_path }) %>
              <%= render(partial:'nav_item', locals:{ footer: false, title:'My Pins', uri: account_pins_path }) %>
            </ul>
            <%= form_tag(pins_index_path, method: 'GET', class: 'form-inline mt-2 mt-md-0') do %>
              <%= text_field_tag('q', nil, class: 'form-control mr-sm-2', placeholder: 'Search') %>
              <%= button_tag('Search', class: 'btn btn-outline-primary my-2 my-sm-0') %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
    
    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class='container'>
          <%= link_to('PIN-IT', root_path, class:'navbar-brand') %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <%= render(partial:'nav_item', locals:{ footer: true, title:'Home', uri: root_path }) %>
              <%= render(partial:'nav_item', locals:{ footer: true, title:'About', uri: application_about_path }) %>
            </ul>
            <a class="text-right text-muted">Built by Yekta Turan</a>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
