<main>
   <div class="container mt-5">
     <h1>Edit pin</h1>
     
     <%= form_tag(pin_path(@pin), method:'PATCH', class: 'form-group mt-5') do %>
      <label for="inputTitle" class="sr-only">Title</label>
      <%= text_field_tag('inputTitle', @pin.title, class:'form-control', placeholder:'Title here') %>
      <label for="inputTag" class="sr-only">Tag</label>
      <%= text_field_tag('inputTag', @pin.tag, class:'form-control mt-3', placeholder: 'Tags here') %>
      
      <%= text_field_tag('inputImageUrl', @pin.image_url, class:'form-control mt-3', placeholder: 'Image URL here') %>
      <%= button_tag('Create Pin', class: 'btn btn-lg btn-primary btn-block mt-5') %>
    <% end %>
   </div>
 </main>