<main>
  <div class="container mt-5">
    <h1>Results for "everything"</h1>

    <div class="container">
      <ul class="row mt-5">
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <div class="card">
            <%= link_to(pins_show_path) do %>
            <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <div class="card">
            <%= link_to(pins_show_path) do %>
            <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <div class="card">
            <%= link_to(pins_show_path) do %>
            <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <div class="card">
            <%= link_to(pins_show_path) do %>
            <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <div class="card">
            <%= link_to(pins_show_path) do %>
            <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <div class="card">
            <%= link_to(pins_show_path) do %>
            <img src="http://fpoimg.com/250x250?text=Medium Rectangle" class="card-img-top" alt="...">
            <div class="card-body text-dark">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
    </div>
  </div>
</main>

