<main>
  <div class="container mt-5">
    <div class="d-flex flex-row">
      <img src="<%= @pin.image_url %>" class="col-md-6 float-left img-fluid flex-shrink-1">
      <div class="w-100 d-inline-flex p-2 d-flex flex-column">
        <h2 class="featurette-heading p-2 mb-auto"><%= @pin.title.upcase %></h2>
        <p class="lead p-2 mb-auto"><%= @pin.tag %></p>
        <p class="card-text p-2 mb-auto">Created by...</p>
        <p class="card-text p-2 mb-auto">Created on <time datetime="2017-08-27T03:48"><%= @pin.created_at.strftime("%d %b '%y")%></time></p>
        <div>
          <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-baseline">
              <%= link_to('Edit', edit_pin_path(@pin) , class:'btn btn-primary') %>
              <a href="#" class="btn btn-primary">Favorite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>

  <div class="container mt-5">
    <h2>Comments</h2>
    <ul class="mt-5 list-unstyled mb-5">
      <hr class="featurette-divider mt-5">
      <li class="d-flex">
        <img src="http://fpoimg.com/100x100?text=Medium Rectangle" class="img-thumbnail"" alt="...">
        <div class="p-2 d-flex flex-column">
          <a href="#" class=""><h5 class="font-weight-normal">Name Surname</h5></a>
          <p>Comment here</p>
        </div>
      </li>
      <hr class="featurette-divider">
      <%#no need after this%>
      <li class="d-flex">
        <img src="http://fpoimg.com/100x100?text=Medium Rectangle" class="img-thumbnail"" alt="...">
        <div class="p-2 d-flex flex-column">
          <a href="#" class=""><h5 class="font-weight-normal">Name Surname</h5></a>
          <p>Comment here</p>
        </div>
      </li>
      <hr class="featurette-divider">
      <li class="d-flex">
        <img src="http://fpoimg.com/100x100?text=Medium Rectangle" class="img-thumbnail"" alt="...">
        <div class="p-2 d-flex flex-column">
          <a href="#" class=""><h5 class="font-weight-normal">Name Surname</h5></a>
          <p>Comment here</p>
        </div>
      </li>
      <hr class="featurette-divider">
      <li class="d-flex">
        <img src="http://fpoimg.com/100x100?text=Medium Rectangle" class="img-thumbnail"" alt="...">
        <div class="p-2 d-flex flex-column">
          <a href="#" class=""><h5 class="font-weight-normal">Name Surname</h5></a>
          <p>Comment here</p>
        </div>
      </li>
      <hr class="featurette-divider">
    </ul>
  </div>
  <div class="container mb-5 d-flex flex-column">
    <h2>Add comment</h2>
    <textarea class="form-control mt-3" placeholder="Write your comment..."></textarea>
    <%= render(partial: 'primary_button', locals: { label: 'Add Comment' }) %>
  </div>
</main>

