<main role="main">
  <div class="container mt-5">
    <h2 class="text-center">Most Recent Pins</h2>
    
    <ul class="row mt-5">
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <%= render(partial: 'pin_card') %>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <%= render(partial: 'pin_card') %>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <%= render(partial: 'pin_card') %>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <%= render(partial: 'pin_card') %>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <%= render(partial: 'pin_card') %>
        </div>
      </li>
      <li class="list-unstyled col-md-4 col-sm-6">
        <div class="col mb-4">
          <%= render(partial: 'pin_card') %>
        </div>
      </li>
    </ul>
  </div>
</main>
